<!-- <div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input class="form-control" placeholder="请输入商品名称、关键词、关键字"
             [formControl]="titleFilter">
    </div>
  </div>
</div> -->
<div *ngFor="let tmp of products" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <img [src]="imgUrl" alt="">
    <div class="caption">
      <h4 class="pull-right">{{tmp.price}}</h4>
      <h4><a href="#" >{{tmp.title}}</a></h4>
      <p>{{tmp.desc}}</p>
    </div>
    <div>
      <app-stars></app-stars>
    </div>
  </div>
</div>
